{% extends 'editorial/base.html' %}
{% block content %}
<div class="d-flex justify-content-between mb-3">
    <h2>Logística de Envíos</h2>
    <a href="{% url 'envio_create' %}" class="btn btn-success">➕ Nuevo</a>
</div>
<div class="table-responsive">
    <table class="table table-bordered table-striped bg-white">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Seguimiento</th>
                <th>Libro</th>
                <th>Distribuidor</th>
                <th>Fecha Envío</th>
                <th>Cantidad</th>
                <th>Costo ($)</th>
                <th>Estado</th>
                <th>Recepción Esperada</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for e in object_list %}
            <tr>
                <td>{{ e.id }}</td>
                <td>{{ e.numero_seguimiento }}</td>
                <td>{{ e.libro }}</td>
                <td>{{ e.distribuidor }}</td>
                <td>{{ e.fecha_envio }}</td>
                <td>{{ e.cantidad_enviada }}</td>
                <td>${{ e.costo_envio }}</td>
                <td>{{ e.estado_envio }}</td>
                <td>{{ e.fecha_recepcion_esperada|date:"d/m/Y" }}</td>
                <td>
                    <a href="{% url 'envio_update' e.pk %}" class="btn btn-sm btn-warning">✏️</a>
                    <a href="{% url 'envio_delete' e.pk %}" class="btn btn-sm btn-danger">🗑️</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}