{% extends 'editorial/base.html' %}
{% block content %}
<div class="d-flex justify-content-between mb-3">
    <h2>Géneros</h2>
    <a href="{% url 'genero_create' %}" class="btn btn-success">➕ Nuevo</a>
</div>
<div class="table-responsive">
    <table class="table table-bordered table-striped bg-white">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Es Ficción</th>
                <th>Época Popular</th>
                <th>Público Objetivo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for g in object_list %}
            <tr>
                <td>{{ g.id }}</td>
                <td>{{ g.nombre_genero }}</td>
                <td>{{ g.descripcion }}</td>
                <td>{{ g.es_ficcion|yesno:"Sí,No" }}</td>
                <td>{{ g.epoca_popular }}</td>
                <td>{{ g.publico_objetivo }}</td>
                <td>
                    <a href="{% url 'genero_update' g.pk %}" class="btn btn-sm btn-warning">✏️</a>
                    <a href="{% url 'genero_delete' g.pk %}" class="btn btn-sm btn-danger">🗑️</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}